@page
@model Tribeea.Pages.Events.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Event</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Event.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Event.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Event.EventDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Event.EventDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Event.MusicUrl)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Event.MusicUrl)
        </dd>
    </dl>
</div>

<div class="tab">
    <button class="tablinks active" onclick="openTab(event, 'SelectedTeams')">Selected Teams</button>
    <button class="tablinks" onclick="openTab(event, 'Scorecard')">Scorecard</button>
    <button class="tablinks" onclick="openTab(event, 'MonthlyScorecard')">Monthly Scorecard</button>
    <button class="tablinks" onclick="openTab(event, 'AvailableTeams')">Available Teams</button>
</div>
<div id="SelectedTeams" class="tabcontent active">
    <h4>Selected Teams</h4>
    <hr />
    <form method="post">
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Scorecards[0].Team.Name)
                    </th>
                    <th>Round 1</th>
                    <th>Round 2</th>
                    <th>Round 3</th>
                    <th>Round 4</th>
                </tr>
            </thead>
            <tbody>

                @for (int i = 0; i < Model.Scorecards.Count; i++)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => modelItem.Scorecards[i].Team.Name)
                            <input type="hidden" asp-for="@Model.Scorecards[i].Id" />
                            <input type="hidden" asp-for="@Model.Scorecards[i].EventId" />
                            <input type="hidden" asp-for="@Model.Scorecards[i].TeamId" />
                            <input type="hidden" asp-for="@Model.Event.Id" />
                            <input type="hidden" asp-for="@Model.Event.Name" />
                        </td>
                        <td><input class="scoreInput" type="number" step="0.5" asp-for="@Model.Scorecards[i].RoundOneScore" /></td>
                        <td><input class="scoreInput" type="number" step="0.5" asp-for="@Model.Scorecards[i].RoundTwoScore" /></td>
                        <td><input class="scoreInput" type="number" step="0.5" asp-for="@Model.Scorecards[i].RoundThreeScore" /></td>
                        <td><input class="scoreInput" type="number" step="0.5" asp-for="@Model.Scorecards[i].RoundFourScore" /></td>
                    </tr>
                }
            </tbody>
        </table>
        <div class="form-group">
            <input asp-route-id="@Model.Event.Id" type="submit" value="Save" class="btn btn-primary" />
        </div>
    </form>
</div>

<div id="Scorecard" class="tabcontent">
    <h4>Scorecard</h4>
    <hr />
    <table class="table">
        <thead>
            <tr>
                <th>
                    Ranking
                </th>
                <th>
                    Team Name
                </th>
                <th>
                    Score
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.ScorecardViewmodels)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Ranking)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TeamName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Score)
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<div id="MonthlyScorecard" class="tabcontent">
    <h4>Scorecard</h4>
    <hr />
    <table class="table">
        <thead>
            <tr>
                <th>
                    Ranking
                </th>
                <th>
                    Team Name
                </th>
                <th>
                    Score
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.MonthlyScorecardViewmodels)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Ranking)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TeamName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Score)
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<div id="AvailableTeams" class="tabcontent">
    <h4>Available Teams</h4>
    <hr />
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Teams[0].Name)
                </th>
                <th>
                    Actions
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Teams)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        <a asp-route="CreateScorecard" asp-route-teamId="@item.Id" asp-route-eventId="@Model.Event.Id">Create Scorecard</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Event.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>

<script>
    function openTab(evt, tabName) {
        // Declare all variables
        var i, tabcontent, tablinks;

        // Get all elements with class="tabcontent" and hide them
        tabcontent = document.getElementsByClassName("tabcontent");
        for (i = 0; i < tabcontent.length; i++) {
            // tabcontent[i].style.display = "none";
            tabcontent[i].className = tabcontent[i].className.replace(" active", "");
        }

        // Get all elements with class="tablinks" and remove the class "active"
        tablinks = document.getElementsByClassName("tablinks");
        for (i = 0; i < tablinks.length; i++) {
            tablinks[i].className = tablinks[i].className.replace(" active", "");
        }

        // Show the current tab, and add an "active" class to the button that opened the tab
        document.getElementById(tabName).className += " active"; // .style.display = "block";
        evt.currentTarget.className += " active";
    }
</script>
